body {
  color: black;
  margin: 0;
}

div {
  display: block;
}

header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  margin-top: 0;
}

.logo {
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding-left: 30px;
}

.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

.logo span {
  color: MediumAquamarine;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

.main {
  display: flex;
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 116px;
  margin-left: 10px;
  font-family: Georgia;
}
.main-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  margin-top: 15px;
  font-family: Georgia;
  font-weight: bold;
  text-align: center;
}

.container-1 .main-image {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
  width: 630px;
  margin-top: 0;
  font-size: 40px;
  text-align: left;
}

.container-1 .main-image span {
  color: white;
  font-size: 40px;
  margin: 10px;
}

.main-story {
  margin-top: 16px;
  font-size: 17px;
}

p {
  display: block;
  webkit-margin-before: 1em;
  webkit-margin-after: 1em;
  webkit-margin-start: 0px;
  webkit-margin-end: 0px;
}

p.main-story {
  width: 630px;
  height: 200px;
}

p.story-2, p.story-3 {
  font-family: Georgia;
  font-size: 17px;
  color: black;
  width: 305px;

}

.story-2-title, .story-3-title {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  width: 305px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 40px;
}

.container-3 {
  display: block;
  position: relative;
  margin-left: 320px;
  margin-top: -260px;
}

.story-4-title {
  display: flex;
  justify-content: center;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  width: 275px;
  height: 300px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-top: 40px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
  color: white;
  text-align: center;
}

.story-4-title span {
  margin-top: 90px;
}

.story-5-title {
  display: block;
  position: relative;
  margin-left: 320px;
  margin-top: -305px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  width: 275px;
  height: 300px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
}

#story-5-caption {
  position: absolute;
  text-align: center;
  margin-bottom: 5px;
  margin-right: 5px;
  color: white;
  justify-content: center;
}

.story-5-title span {
  margin-top: 90px;
}

.column-medium {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-right: 32px;
  height: 1115px;
}

.story-6-title {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-left: 660px;
  margin-top: -1145px;
  width: 300px;
}

p.story-6 {
  margin-top: 0px;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.container-7 {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-left: 660px;
  margin-top: -685px;
}

.story-7-title {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
  display: block;
  position: relative;
  width: 300px;
  height: 300px;
}

#story-7-caption {
  position: absolute;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
  margin-top: 120px;
}

.story-7 {
  display: block;
  position: relative;
  font-family: Georgia;
  font-size: 17px;
  color: black;
  width: 300px;
}

.column-small {
  width: 240px;
  display: flex;
  flex-direction: column;
  margin-right: 32px;
  height: 1115px;
}

.cookie {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-left: 1000px;
  margin-top: -1145px;
}

img.cookie {
  height: 240px;
}

.news-bites {
  display: block;
  margin-left: 1000px;
  margin-top: -895px;
  width: 240px;
  font-family; Verdana;
  font-size: 16px;
  font-weight: bold;
}

.news-bites h3 {
  text-align: center;
}

.bites {
  display: block;
  border-bottom: 1px solid black;
  background-color: rgb(241, 242, 243);
  height: 40px;
  width: 240px;
  font-size: 12px;
  font-family: Verdana;
  padding: 11px 20px;
  color: DimGray;
}

footer {
  display: flex;
  align-items: center;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 325px;
  background-color: MediumAquaMarine;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  margin-top: 60px;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
}

.info {
  display: block;
}

 footer .title {
  color: white;
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  width: 110px;
  height: 19px;
  border-right: 2px white solid;
  display: inline-block;
}

footer nav {
  display: inline-block;
  padding: 20px 10px;
}

footer nav span a {
  color: black;
}

.copyright {
  font-size: 12px;
  font-family: Georgia;
}
